body{
    height:505px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://images.tcdn.com.br/img/img_prod/697730/adesivo_lateral_vidro_caminhao_carro_decorativo_pantera_cor_de_rosa_1147486528_1_6704304bea8d50ab62a3eef851fc63ea.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size:contain;
  }